.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;

  // Fallback Code for Browsers, that don't support CSS Grid (Progressive Enhancement)
  // @supports(display:grid) {
  //   display: grid;
  //   // grid-template-columns: repeat(3, 1fr);
  //   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  //   grid-gap: 6rem;
  //   align-items: start;
  // }
}

.feature {

  // Fallback Code for Browsers, that don't support CSS Grid (Progressive Enhancement)
  // float: left;
  // width: 33.3333%;
  // margin-bottom: 6rem;
  // @supports(display:grid) {
  //   margin-bottom: 0;
  //   width: auto;
  // }

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: $color-primary;
    transform: translateY(-1rem);

    // We can't use '-1' here. When we use -1, what it refers to is the last grid line of explicit grid.
    // But since we haven't defined any rows, therefore, there is no explicit grid, only implicit grid. 
    grid-row: 1 / span 2;
  }

  &__text {
    font-size: 1.7rem;
  }
}