.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    // Since we are using absolute positioning for images to stack on one another, the ref will be the parent element
    // whose position is set to relative, so we are doing that on the div with class of composition.
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.3333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-port) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      // We are using outline instead of border, because it allows us to use a CSS property called, 'outline-offset'
      // which gives us spacing between the content & the outline.
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    // composition:hover composition__photo:not(:hover)
    // This is what the selector is referring to, i.e. selecting all the images which are not hovered, while
    // we are hovering at one of the images.
    transform: scale(.95);
  }
}